<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.practice.mapper.MemberMapper">

    <sql id="MemberColumns">
        no,
        id,
        name,
        pw,
        email,
        birthDate,
        joinDate,
        phone
    </sql>

    <!-- Member 테이블 가져오기 -->
    <select id="getMemberList" resultType="com.practice.domain.MemberDTO">
        SELECT * FROM login
    </select>

    <!-- 회원정보 가져오기 -->
    <select id="getMemberByNo" resultType="com.practice.domain.MemberDTO">
        SELECT *
        FROM login
        WHERE no = #{no}
    </select>

    <select id="getMemberById" resultType="com.practice.domain.MemberDTO">
        SELECT *
        FROM login
        WHERE id = #{id}
    </select>

    <select id="getMemberByIdName" resultType="com.practice.domain.MemberDTO">
        SELECT id, name
        FROM login
        WHERE no = #{no}
    </select>

    <!-- 회원가입 -->
    <insert id="insertMember">
        INSERT INTO login
        (id, name, pw, email, birthDate, phone)
        VALUES
        (#{id}, #{name}, #{pw}, #{email}, #{birthDate}, #{phone})
    </insert>

</mapper>