<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>재고조회</title>
    <link th:href="@{/css/inventory/inventoryList.css}" rel="stylesheet" />
</head>
<header th:replace="fragments/header :: header"></header>

<script>
	function pageMove(subjectNo) {
	    //subjectNo를 post방식으로 보내기 위해서
	    console.log(subjectNo);
    	var frm = document.createElement('form');
    	var input;
    	input = document.createElement('input');
    	input.setAttribute('type', 'hidden');
    	input.setAttribute('name', 'subjectNo');
    	input.setAttribute('value', subjectNo);

    	frm.appendChild(input);
    	frm.setAttribute('method', 'post');
    	frm.setAttribute('action', '/inventoryUpdate');
    	document.body.appendChild(frm);
    	frm.submit();
	}

	$(document).ready(function() {
		//재고등록페이지로 이동
		$("#listInsertBtn").click(function() {
			location.href = "/inventoryWrite";
		});
	});

</script>

<body>

<div class="wrapper">

    <h1>재고조회</h1>

    <div class="inventoryList">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div>
                    <div class="divTableHead">품목번호</div>
                    <div class="divTableHead">품목</div>
                    <div class="divTableHead">구매일</div>
                    <div class="divTableHead">구매자</div>
                    <div class="divTableHead">등록일</div>
                </div>
            </div>
        </div>

        <div class="divTableBody">
            <div class="divTableRow">
                <div id="tableList" th:each="l : ${response.list}" th:onclick="'javascript:pageMove('+ ${l.subjectNo} + ');'">
                    <div class="divTableCell" th:text="${l.subjectNo}"></div>
                    <div class="divTableCell" th:switch="${l.subject}">
                        <span th:case="1">컴퓨터</span>
                        <span th:case="2">모니터</span>
                        <span th:case="3">키보드</span>
                        <span th:case="4">마우스</span>
                        <span th:case="5">VGA</span>
                        <span th:case="6">스피커</span>
                    </div>
                    <div class="divTableCell" th:text="${l.buyDt}"></div>
                    <div class="divTableCell" th:text="${l.buyer}"></div>
                    <div class="divTableCell" th:text="${l.createDt}"></div>
                </div>
            </div>
        </div>

        <nav th:each="p : ${response.pagination}">
            <ul class="pagination" th:with="start=${p.startPage},end=${p.endPage}">
                <li th:if="${p.existPrevPage}">
                    <a th:href="@{/inventoryList(page=1)}" th:text="'<<'"></a>
                </li>
                <li th:if="${p.existPrevPage}">
                    <a th:href="@{/inventoryList(page=${dto.page-1})}" th:text="'<'"></a>
                </li>

                <li th:each="page: ${#numbers.sequence(start, end)}">
                    <a th:text="${page}" th:href="@{/inventoryList(page=${page})}"></a>
                </li>

                <li th:if="${p.existNextPage}">
                    <a th:href="@{/inventoryList(page=${dto.page+1})}" th:text="'>'"></a>
                </li>
                <li th:if="${p.existNextPage}">
                    <a th:href="@{/inventoryList(page=${p.totalPageCount})}" th:text="'>>'"></a>
                </li>
            </ul>
        </nav>

        <div id="listBtnBox">
            <input type="button" value="등록하기" id="listInsertBtn">
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>