<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>재고상세보기/수정/삭제</title>
  <link th:href="@{/css/inventory/inventoryUpdate.css}" rel="stylesheet" />
</head>
<header th:replace="fragments/header :: header"></header>

<script>

function deleteBoard(subjectNo) {
	$.ajax({
			type:"POST",
			url:"/boardDeleteAjax",
			data: {subjectNo:subjectNo},
			success: function(data) {
				alert("삭제되었습니다.");
				location.replace("/boardList");
			},
			error: function(data) {
				alert("통신실패")
			}
		})
}

$(document).ready(function() {
	$("#detailUpdateBtn").click(function() {
		var boardBuyer = document.getElementById("boardBuyer").value;
		var boardBuyDt = document.getElementById("boardBuyDt").value;
		var boardAmount = document.getElementById("boardAmount").value;
		var boardSubjectNo = document.getElementById("boardsubjectNo").value;
		console.log(boardBuyer + boardBuyDt + boardAmount + boardSubjectNo);
		$("#boardUpdateArea").html(
			"<textarea name='buyerArea' id='buyerArea'>"+boardBuyer+"</textarea>"
			+"<textarea name='buyDtArea' id='buyDtArea'>"+boardBuyDt+"</textarea>"
			+"<textarea name='buyerAmount' id='buyerAmount'>"+boardAmount+"</textarea>"
			+"<button name='updateBtn'>수정하기</button>"
			+"<div class='clear'>"
			+"<button name='updateCancle'>수정취소</button>"
			+"</div>");

			$("button[name='updateBtn']").click(function() {
				var buyerArea = document.getElementById("buyerArea").value;
				var buyDtArea = document.getElementById("buyDtArea").value;
				var amountArea = document.getElementById("buyerAmount").value;
				console.log(buyerArea + buyDtArea + amountArea);

				 $.ajax({
					type:"POST",
					url:"/boardUpdateAjax",
					data: {buyDt:buyDtArea, buyer:buyerArea, amount:amountArea, subjectNo:boardSubjectNo},
					success: function(data) {
						location.reload();
					},
					error: function(data) {
					alert("통신실패");
				}
			})
			});

			$("button[name='updateCancle']").click(function(){
				location.reload();
		});
		});

	$("#backBtn").click(function() {
		location.href = "/inventoryList";
	});
});

</script>
<body>

<div class="wrapper">
  <div id="boardDetail">
    <h1>재고조회</h1>

    <table>
      <tr>
        <th>품목</th>
        <th>품목번호</th>
        <th>구매자</th>
        <th>구매일</th>
        <th>구매금액</th>
      </tr>
      <tr>
        <div id="boardUpdateArea">
          <td><input type="hidden" th:text="${dto.subject}" th:value="${dto.subject}" id="boardSubject"></td>
          <td><input type="hidden" th:text="${dto.subjectNo}" th:value="${dto.subjectNo}" id="boardsubjectNo"></td>
          <td><input type="hidden" th:text="${dto.buyer}" th:value="${dto.buyer}" id="boardBuyer"></td>
          <td><input type="hidden" th:text="${dto.buyDt}" th:value="${dto.buyDt}" id="boardBuyDt"></td>
          <td><input type="hidden" th:text="${dto.amount}" th:value="${dto.amount}" id="boardAmount"></td>
        </div>
      </tr>
    </table>

    <div id="detailBtnBox">
      <input type="button" value="수정" id="detailUpdateBtn">
      <input type="button" value="삭제" id="detaildeletdBtn" th:onclick="deleteBoard([[ ${dto.subjectNo} ]])">
      <input type="button" value="뒤로" id="backBtn">
    </div>
  </div>

  <footer th:replace="fragments/footer :: footer"></footer>

</div>

</body>
</html>