<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>재고구매</title>
    <link th:href="@{/css/inventory/inventoryShop.css}" rel="stylesheet" />
</head>

<header th:replace="fragments/header :: header"></header>

<script>
    $(document).ready(function() {

    });
</script>

<body>

<div class="wrapper">
    <div class="shop-wrapper">
        <p>재고구매페이지 입니다.</p>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>