<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>재고등록</title>
  <link th:href="@{/css/inventory/inventoryWrite.css}" rel="stylesheet" />
</head>
<header th:replace="fragments/header :: header"></header>

<script>
	$(document).ready(function() {
	  $("#writeInsertBtn").click(function() {
	    var subjectVal = $("#subjectSelect option:selected").val();
	    var buyDtVal = document.querySelector("#buyDt").value;
	    var buyerVal = document.getElementById("buyer").value;
	    var amountVal = document.getElementById("amount").value;

	    $.ajax({
		  type:"POST",
		  url:"/inventoryWriteAjax",
		  data: {subject:subjectVal, buyDt:buyDtVal, buyer:buyerVal, amount:amountVal},
		  success: function(data) {
		    location.replace("/inventoryList");
		  },
		    error: function(data) {
		      alert("재고 등록에 실패했습니다.");
			}
		})
	 });

    //취소하면 재고조회페이지로 이동
	 $("#cancelBtn").click(function() {
		location.href = "/inventoryList";
	});
});
</script>

<body>

<div class="wrapper">
  <div id="boardWrite">

    <h1>재고등록</h1>

    <table>
      <tr>
        <th>품목</th>
        <td>
          <select name="subjectSelect" id="subjectSelect">
            <option value="none">=선택=</option>
            <option value="1">컴퓨터</option>
            <option value="2">모니터</option>
            <option value="3">키보드</option>
            <option value="4">마우스</option>
            <option value="5">VGA</option>
            <option value="6">스피커</option>
          </select>
        </td>
      </tr>

      <tr>
        <th>구매일</th>
        <td><input type="date" id="buyDt"></td>
      </tr>

      <tr>
        <th>구매자</th>
        <td><input type="text" id="buyer"></td>
      </tr>

      <tr>
        <th>구매금액</th>
        <td><input type="number" id="amount"></td>
      </tr>
    </table>

    <div id="writeBtnBox">
      <input type="button" value="등록" id="writeInsertBtn">
      <input type="button" value="취소" id="cancelBtn">
    </div>

  </div>
  <footer th:replace="fragments/footer :: footer"></footer>
</div>
</body>
</html>