@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Noto Sans KR', sans-serif;
}

.wrapper {
  height: auto;
  min-height: 100%;
  padding-bottom: 50px;
  background: #F9F7F7;
}

.boardList	{ display: table; }
.divTableHeading { display: table-header-group;}
.divTableBody { display: table-row-group;}
.divTableRow { display: table-row; }
.divTableHead, .divTableCell { display: table-cell;}

h1 {
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
	color: #112D4E;
}

.boardList {
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	border-collapse: collapse;
}

.divTableHeading {
	background: #FFF;
}

.divTableHead {
	padding: 10px 10px;
	width: 180px;
	border: 1px solid #D2D2D2;
	border-top: 2px solid #112D4E;
	text-align: center;
}

.divTableCell {
	padding: 10px 10px;
	width: 180px;
	border: 1px solid gray;
}

#listBtnBox {
	text-align: center;
}

#listInsertBtn {
	margin-top: 20px;
	padding: 15px 30px;
    background: #DBE2EF;
    border-radius: 5px;
	cursor: pointer;
}

#tableList:hover {
	cursor: pointer;
	background-color: #F8F8F8;
}