@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Noto Sans KR', sans-serif;
}

.wrapper {
    min-height: calc(100vh - 5rem);
    background: #F9F7F7;
}