<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
    <link th:href="@{/css/fragments/header.css}" rel="stylesheet" />

    <div class="header-wrapper">
        <div class="left-items"><a href="/index">홈</a></div>
        <div class="left-items"><a href="/inventoryList">재고관리</a></div>
        <div class="left-items"><a href="/inventoryShop">재고구매</a></div>
        <div class="left-items"><a href="/boardList">게시판</a></div>
        <div class="right-items"><p id="myInfo">내 정보</p></div>
    </div>

</header>

</html>