<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link th:href="@{/css/login/join.css}" rel="stylesheet" />
</head>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<body>

    <div class="wrapper">
        <div class="join-wrapper">
            <h1>회원가입</h1>
            <p>*필수항목</p>
            <form method="post" action="/join" th:object="${member}" id="join-form">
                <label for="id">*아이디</label>
                <input type="text" th:field="*{id}" id="id" th:value="#{dto.id}">
                <p class="checkIdMsg" id="idOk">사용 가능한 아이디입니다.</p>
                <p class="checkIdMsg" id="idAlready">이미 사용중인 아이디입니다.</p>
                <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="errorMsg"></p>
                <input type="hidden" id="idCkRs" th:value="${idCkRs}"> <!-- idCk 값 담는 input -->

                <label for="pw">*비밀번호</label>
                <input type="password" th:field="*{pw}" id="pw" th:value="#{dto.pw}">
                <p th:if="${#fields.hasErrors('pw')}" th:errors="*{pw}" class="errorMsg"></p>

                <label for="name">*이름</label>
                <input type="text" th:field="*{name}" id="name" th:value="#{dto.name}">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errorMsg"></p>

                <label for="email">*Email</label>
                <input type="email" th:field="*{email}" id="email" th:value="#{dto.email}">
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="errorMsg"></p>

                <label for="birthDate">생년월일</label>
                <input type="date" th:field="*{birthDate}" id="birthDate" th:value="#{dto.birthDate}">
                <p th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="errorMsg"></p>

                <label for="phone">*휴대전화</label>
                <input type="tel" th:field="*{phone}" id="phone" th:value="#{dto.phone}">
                <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="errorMsg"></p>

                <input type="button" id="joinBtn" value="가입하기">
                <a href="/">뒤로가기</a>
            </form>
        </div>
    </div>
</body>
<script>
    $(document).ready(function() {
        var idCk = 0;
        var form = document.getElementById("join-form");

        $("#id").blur(function() {
            var id = $('#id').val();

            $.ajax({
                type: "POST",
                url: "/idCheckAjax",
                data: {id:id},
                dataType: "text",
                async: false, //동기식
                success: function(data) {
                    if(data == 1) { //이미 사용중인 아이디
                        $('#idAlready').css("display","block");
                        $('#idOk').css("display", "none");
                        idCk = 1;
                    } else if(data == 0) { //사용 가능한 아이디
                        $('#idOk').css("display","block");
                        $('#idAlready').css("display", "none");
                        idCk = 2;
                    } else { //"", null 아이디
                        $('#idOk').css("display", "none");
                        $('#idAlready').css("display", "none");
                        idCk = 3;
                    }
                },
                error: function(data) {
                    alert("아이디 중복체크에 실패하였습니다.");
                }
            })
        })

        $("#joinBtn").click(function() {
            input = document.createElement('input');
    	    input.setAttribute('type', 'hidden');
    	    input.setAttribute('name', 'idCk');
    	    input.setAttribute('value', idCk);
    	    form.appendChild(input);

    	    form.action = '/join';
            form.method = 'POST';
            form.submit();
        })

        var idCkRs = $('#idCkRs').val();
        if(idCkRs == 1) {
            $('#idAlready').css("display","block");
            $('#idOk').css("display", "none");
            $('#id').focus();
            return false;
        } else if(idCkRs == 2) {
            $('#idOk').css("display","block");
            $('#idAlready').css("display", "none");
            $('#id').focus();
        } else if(idCkRs == 3) {
            $('#idOk').css("display", "none");
            $('#idAlready').css("display", "none");
            $('#id').focus();
            return false;
        } else {
            $('#id').focus();
        }
    })
</script>

</html>
